#! /bin/csh

process Rec = 
{
  untracked PSet maxEvents = {untracked int32 input = 10}

  untracked PSet ReleaseValidation = 
  {
    untracked uint32 totalNumberOfEvents = 10000
    untracked uint32 eventsPerJob        = 250
    untracked string primaryDatasetName  = 'RelValMinBiasValidation'
  }
  untracked PSet configurationMetadata = 
  {
    untracked string version = "$Revision: 1.1 $"
    untracked string name = "$Source: /local/reps/CMSSW/UserCode/ksmith/ValidationTools/data/cfg/templates/GlobalHits.template,v $"
    untracked string annotation = "RelVal MinBiasValidation"
  }

  include "Configuration/ReleaseValidation/data/Services.cff"
  include "Configuration/StandardSequences/data/FakeConditions.cff"
  //include "FWCore/MessageService/data/MessageLogger.cfi"
  include "Validation/GlobalRecHits/data/MessageLogger.cfi"
    
  untracked PSet options = 
  {
    include "FWCore/Framework/test/cmsExceptionsFatalOption.cff"
    untracked bool wantSummary = true
    untracked bool makeTriggerResults = true 
  }

## choose one of the following
   ${dataset}

   
  include "Configuration/StandardSequences/data/Reconstruction.cff"
  include "Configuration/StandardSequences/data/Simulation.cff"
  include "Configuration/StandardSequences/data/MixingNoPileUp.cff" 
  include "Configuration/StandardSequences/data/VtxSmearedGauss.cff" 
  include "Configuration/StandardSequences/data/L1Emulator.cff"
  include "Validation/GlobalHits/data/globalhits_analyze.cff"
  path p1 = {psim} # simulation
  path p2 = {pdigi} # digitization
  path p3 = {reconstruction_plusRS_plus_GSF} # reconstruction
  path p4 = {L1Emulator, globalhitsanalyze}

 include "Configuration/EventContent/data/EventContent.cff"
 schedule = {p1,p2,p3,p4}#, outpath}
}

